body{
	font-family: sans-serif;
	background-color: rgb(30, 160, 204);
}

h1{
	font-size:32px;
	text-align:center;
	margin: 0 auto;
	width: 25%;
}

form{
	font-size:26px;
	text-align:center;
	
	
}
input[type="dob"] {
  width: 100px; 
  height: 30px; 
  font-size: 20px;
  background-color: darkgrey;
  color:black;
  font-weight: bold;
  
}

fieldset{
	margin: 0 auto;
	width: 50%;
	background-color: rgb(84, 43, 151);
	border: 2px solid rgb(180, 59, 162);
}

@media screen and (min-width: 950px){
	form {
		display: flex;
		font-size:26px;
		text-align:center;
		margin: 0 auto;
		width: 50%;
		
	}
	
	.email_I, .phonenumber, .dob, .submitbutton {
    width: 95%;
    margin-bottom: 0;
	text-align:left;
  }
  
}
